// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  width: 400px;
  padding: 10px;
  border-bottom: 2px dotted cornflowerblue;
  word-break: break-all;

}
#comments {
  h2 {
    font-size: 1.5em;
    color: blueviolet;
  }
}